.root {
  margin-top: -8rem;
}

.container {
  width: 900px;
  margin: 0 auto;
  padding: 2rem;

  @media screen and (max-width: 1024px) {
    width: 720px;
  }

  @media screen and (max-width: 540px) {
    width: 100%;
  }
}

.users {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 1.5rem;
}
