.root {
}

.footerImg {
  background: #fff url('./footer.png');
  background-position: 0 -175px;
  background-size: cover;
  height: 300px;
  width: 100%;
}

.wrapper {
  padding: 2rem;

  h3 {
    text-align: center;
    font-size: 3rem;
    font-weight: 100;
    font-family: 'Lobster', cursive;
  }
}

.linkWrapper {
  display: flex;
  justify-content: space-between;
  width: 720px;
  margin: 0 auto;

  @media screen and (max-width: 540px) {
    width: 100%;
  }
}

.aside {
  dd {
    margin-bottom: 1.2rem;
  }
}
