.root {
}

.footerImg {
  background: #fff url('./footer.png') no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
  width: 100%;
  margin-top: 15rem;

  @media screen and (max-width: 540px) {
    margin-top: 2.5rem;
  }
}

.wrapper {
  padding: 2rem;

  h3 {
    text-align: center;
    font-size: 3rem;
    font-weight: 100;
    font-family: 'Lobster', cursive;
  }
}

.linkWrapper {
  display: flex;
  justify-content: space-between;
  width: 72rem;
  margin: 0 auto;

  @media screen and (max-width: 540px) {
    width: 100%;
  }
}

.aside {
  dd {
    margin-bottom: 1.2rem;
  }
}
