.root {
  background: linear-gradient(0deg, #000000e0, #1111117d),
    url('https://cdn.dribbble.com/users/1626229/screenshots/14571364/media/c29cef6df5ebfeb98bd4455392abaf7d.jpg')
      no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  width: 720px;
  margin: 0 auto;
  padding: 10rem 2.4rem;

  @media screen and (max-width: 540px) {
    width: 100%;
  }
}

.header {
  font-family: 'Lobster', cursive;
  font-weight: 400;
  font-size: 3.2rem;
  margin-bottom: 1.2rem;
  text-align: center;
  color: #fff;
}

.radioInput {
  font-size: 1.6rem;
  display: inline-flex;
  align-items: center;

  input {
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 0.5rem;
  }

  span {
    color: #fff;
  }
}

.searchInput {
  border: 1px solid #cbcddc80;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  margin: 1.4rem;
  box-shadow: 0 1px 3px #ffffff1f, 0 1px 2px #ffffff3d;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background: #fff;

  input {
    border: none;
    display: block;
    flex: 1;
    font-size: 2.4rem;
    font-weight: 100;
    padding: 1.5rem 1.5rem 1.5rem 0;

    &:focus {
      outline: none;
    }
  }

  &:focus-within {
    box-shadow: rgb(255 255 255 / 12%) 0 1px 6px, rgb(255 255 255 / 12%) 0 1px 12px;
  }
}

.searchIcon {
  color: #4d4f59b3;
  margin: 0 1.4rem;
}

.categories {
  text-align: center;
  margin: 1.2rem 0;

  label:not(:last-child) {
    margin-right: 1.6rem;
  }
}
